// ------------- Wrapper & Static Content on the outsid -------------- //
@media (min-width: $bp-med) and (min-height: $bp-small-3) {
  .wrapper {
      padding: 0 2rem;
  }
  .socials-container {
    right: 2rem;
    bottom: 2rem;
  }
  header#header .logo {
    margin-left: 2rem;
  }
  .btn-hamburger {
    top: 2rem;
    right: 2rem;
  }
  header#header .menu ul li:last-child {
    margin-right: 2rem;
  }
  a.contact-link {
    left: 2rem;
    bottom: 2rem;
  }
}
@media (min-width: $bp-xxl) {
  .wrapper {
      padding: 0 2.5rem;
  }
  .socials-container {
    right: 2.5rem;
    bottom: 2.5rem;
  }
  header#header .logo {
    margin-left: 2.5rem;
  }
  .btn-hamburger {
    top: 2.5rem;
    right: 2.5rem;
  }
  header#header .menu ul li:last-child {
    margin-right: 2.5rem;
  }
  a.contact-link {
    left: 2.5rem;
    bottom: 2.5rem;
  }
}
@media (min-width: $bp-xxl-2) {
  .wrapper {
      max-width: $website-width;
  }
}
@media (max-width: $bp-xxl-2) {
  .socials-container {
      display: none;
  }
}
@media (max-width: $bp-xxl) {
  a.contact-link {
      display: none;
  }
}

// ------------- Menu -------------- //
@media (max-width: $bp-med) {
  header#header .menu ul li {
    display: none !important;
  }
  header#header .menu ul li.btn-menu {
    display: block !important;
  }
}
@media (max-width: $bp-small-2) {
  header#header .menu ul li {
    display: none !important;
  }
  header#header .menu ul li.btn-menu {
    display: block !important;
  }
  header#header.header-home ul li span {
    color: $black;
  }

  header#header.header-home .logo {
    filter: none;
  }
}

// ------------- General Font Sizes -------------- //
@media (min-width: $bp-med) and (max-width: $bp-xxl-2), (max-height: $bp-small-3) {
  h1,.h1 {
    &.large {
      font-size: 3.875rem;
      line-height: 4.0625rem;
    }
    &.extra-large {
      font-size: 6.875rem;
      line-height: 7.2625rem;
    }
  }

  // Arrow
  section.home-quick-contact img {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: $bp-med), (max-height: $bp-small-3){
  h1,.h1 {
    &.large {
      font-size: 2.125rem;
      line-height: 2.5rem;
    }
    &.extra-large {
      font-size: 4.875rem;
      line-height: 5.0625rem;
    }
  }
  // Arrow  
  section.home-quick-contact img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

// ------------- Home Page -------------- //
@media (max-width: $bp-xxl-2) {
  section.home-top {
    background-position: 100% 100%;
  }
  section.home-top .hero-content {
    width: 60%;
  }
}
@media (max-width: $bp-xxl) {
  section.home-top {
    background-position: 50% 70%;
  }
  section.home-top .hero-content {
    width: 70%;
  }

  footer .wrapper .row {
    gap: 3rem;
  }
}

@media (max-width: $bp-large) {
  section.home-top .hero-content {
    width: 75%;
  }

  section.home-top {
    background-position: 75% 70%;
  }
}

@media (max-width: $bp-med-2) { 
  section.home-top {
    background-position: 75% 100%;
    padding-bottom: 5%;
  }
  
  .scroll-to-icon {
    display: none;
  }

  section.home-portfolio .list {
    grid-template-columns: none;
    grid-template-rows:  repeat(2, 1fr);
  }

  footer .wrapper .row {
    gap: 1rem;   
  }
}

@media (max-width: $bp-small-2) {
  section.home-top {
    background: url(../assets/img/bg-home-transparent.png) no-repeat;
    background-size: cover;
    background-position: 60% 100%;
  }

  section.home-top .hero-content {
    width: 100%;
  }

  section.home-quick-contact .wrapper {
    align-items: flex-start;
  }

  footer .wrapper .row {
    flex-wrap: wrap;

    & > div {
      margin-bottom: 2.5rem;

      h3 br {
        display: none;
      }
    }
  }
}

// ------------- About Page -------------- //
@media (max-width: $bp-large-2) {
  section.about-image .row {
    flex-direction: column;

    .flex-col:nth-child(1) {
      width: 100%;
    }
    .flex-col:nth-child(2) {
      width: 100%;
      margin-top: 5rem;
    }
  }
}

@media (max-width: $bp-med) {
  section.about-services .row {
    flex-direction: column;
  }
}